.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.header__container{
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding: 2rem;

}

.searchDiv{
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    width: 20rem;
    
    margin-bottom: 0px;
}

.divSearch svg{   
    display: flex;
}

.login-link{
    margin: auto 3rem;
}